# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
*build*/

# CLion/Visual Studio folders
.idea/
.vs/

# Visual Studio Code folders
/out
/.vscode
/generatedIncludes
CMakePresets.json

# MacOS specific files
.DS_Store

# Misc
.cache/
